<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='bower_components/semantic/dist/semantic.min.css')}}">
    <script src="{{url_for('static',filename='bower_components/semantic/dist/semantic.min.js')}}"></script>
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="theme-color" content="#000000" />

    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    
    {% if title %}
        <title>Stock Data - {{ title }}</title>
    {% else %}
        <title>Stock Data</title>
    {% endif %}
    <!--
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    {% if title %}
        <title>AlgoDIY - {{ title }}</title>
    {% else %}
        <title>AlgoDIY</title>
    {% endif %}
<!--
SOFTY PINKO
https://templatemo.com/tm-535-softy-pinko
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/font-awesome.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/templatemo-softy-pinko.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/templatemo-softy-pinko.css">
    <link rel="stylesheet" href="../static/css/main.css"> -->
    </head>
    
    <body style="margin-top: 0px;">

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            <img src="../static/images/AlgoDIY_logo2.jpg" alt="Stock Data"/>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="#welcome" class="active">Home</a></li>
                            <li><a href="{{ url_for('main.home') }}">Create Algo</a></li>
                            <li><a href="#pricing-plans">Pricing Tables</a></li>
                            <li><a href="{{url_for('posts.fourm')}}">Fourm</a></li>
                            {% if current_user.is_authenticated %}
                                <li><a href="{{url_for('posts.new_post')}}">New Post</a></li>
                                <li><a href="{{url_for('users.account')}}">Account</a></li>
                                <li><a href="{{url_for('users.logout')}}">Logout</a></li>
                            {% else %}
                                <li><a href="{{url_for('users.login')}}">Login</a></li>
                                <li><a href="{{url_for('users.register')}}">Sign Up</a></li>
                            {% endif %}
                                <li><a href="#contact-us">Contact Us</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- <div class="ui sidebar left inverted menu" data-example-default>
        <a href="#" class="item">Monday</a>
        <a href="#" class="item">Tuesday</a>
        <a href="#" class="item">Wednesday</a>
        <a href="#" class="item">Thursday</a>
        <a href="#" class="item">Friday</a>
    
    </div> -->
        
        <div class="container"  style="margin-top: 140px;">
            <!-- <br><br><br><br>
            <h2 style="margin-top: 100;" class="ui header medium">Default Sidebar</h2>
            <button class="ui button" data-example-target="data-example-default">Toggle Sidebar</button>
             -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
    </body>
    <!-- ***** Block Content Start ***** -->
    
    <!-- ***** Block Content End ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright &copy; 2020 Softy Pinko Company - Design: TemplateMo</p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="{{url_for('static',filename='js/jquery-2.1.0.min.js')}}"></script>

    <!-- Bootstrap -->
    <script src="{{url_for('static',filename='js/popper.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>

    <!-- Plugins -->
    <script src="{{url_for('static',filename='js/scrollreveal.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/waypoints.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.counterup.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/imgfix.min.js')}}"></script> 
    
    <!-- Global Init -->
    <script src="{{url_for('static',filename='js/custom.js')}}"></script>
    <script type="text/javascript">
        $(['data-example-target']).on('click',function(){
            var exampleTarget = $(this).data('example-target');
            $('['+exampleTarget+']').sidebar('toggle');
        })    
    </script>
  </body>
</html>