.no-padding-border {
  padding: 0px !important;
  margin: 0px !important;
  border-bottom: 0 none !important;
  box-shadow: none;
}
html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}
/* display: table-cell;
  vertical-align: middle;
  width: 100% !important; */
body {
  background-color: #1b1c1d;
  display: table-cell;
  vertical-align: middle;
  
}

.fullWidth {
  width: 95% !important;
  margin: 1em 1em !important;
  padding: 5 !important;
}

.fullWidthColumn {
  padding: 0 !important;
}

.lightGrayBackground {
  background-color: #3d3e3f;
  border-radius: 10px;
}

.containerHeaderImage {
  position: relative;
  text-align: center;
  color: white;
  width: 100% !important;
  margin: 0em 0em !important;
  padding: 0 !important;
}

.imageHeaderImage {
  width: 100%;
  margin: 0em 0em !important;
  padding: 0 !important;
}

.centeredHeaderImage {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
}

.centeredHeaderImageMobile {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0em 0em !important;
  padding: 0 !important;
}

.lightGrayBackground text {
  fill: #feffff;
}

.veryLightGrayBackground {
  background-color: #636669;
  border-radius: 10px;
}
.axisWhite text{
  fill: 	#636669;
  /* fill: #e0e1e2; */
}

.axisWhite path{
  stroke: 	#636669;
  /* stroke: #e0e1e2; */
}

.axisWhite line{
  stroke:	#636669;
  /* stroke: #e0e1e2; */
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.sliderimg{
  width: 100%;
  height: 545px;
  object-fit: cover
}

.g_main {
  cursor:pointer;
  pointer-events: all;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
